
.box{
    padding-bottom:90px;
}
.h1-text{
    padding-bottom:1rem;
}
.body1-text{
    padding-bottom:15px;
}
.cooking-button{
    
    width:210px;
}

.hero-container{
    height:600px;
    width:1000px;
    box-shadow:0 0 10px inset;
    background-image:url('./howls-moving-castle.avif');
    background-position:center;
    background-size:cover;
    opacity:100%;
}

.page-text{
    display:flex;
    flex-direction:column;
    justify-content:center;
}
