
.box{
    padding-top:20px;
    padding-bottom:30px;
}
.h1-text{
    padding-bottom:1rem;
}
.cooking-button{
    margin-top:1rem;
    width:210px;
}
.hero-container{
    margin:0px;
    padding:none;
    height:600px;
    width:1000px;
    display:flex;
    justify-content:center;
    align-items:center;
    box-shadow:0 0 10px inset;
    background-image:url('./howls-moving-castle.avif');
    background-position:center;
    background-size:cover;
    opacity:70%;
}

.page-text{
    display:flex;
    flex-direction:column;
    justify-content:center;
}
