@font-face{
  font-family:'playwright';
  src:url('../../playwrite.ttf');
}

.header{
    position:relative;
    top:0;
    height:80PX;
    width:100%;
    display: flex;
    text-align: center;
    justify-content:space-between;
    align-items: center;
    margin-top:20px;
  }
  
div .pages-container{
  display:flex;
  align-items:center;
  margin-right:15px;
}

div .pages-container a{
  margin-right:1rem;
  color:rgb(232, 232, 232);
  font-family:Arial, Helvetica, sans-serif;
}
div .pages-container .sign-button{
  color:#ffffff;
}

div .logo-container .logo{
  text-decoration:none;
  padding:2rem;
  color: rgb(241, 241, 241);
  font-family:'playwright';
  font-weight:400;
}
div .logo-container .logo:hover{
  text-shadow: 0 0#ffffff;
}
