@font-face{
  font-family:'playwright';
  src:url('../../playwrite.ttf');
}

.header{
    z-index:100;
    position:fixed;
    top:0;
    width:98%;
    height:80PX;
    display: flex;
    text-align: center;
    justify-content:space-between;
    align-items: center;
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
  }
  
div .pages-container{
  display:flex;
  align-items:center;
  margin-right:15px;
}

div .pages-container a{
  margin-right:30px;
  font-weight:200px;
  color:rgb(255, 255, 255);
  text-decoration:none;
  font-family:Arial, Helvetica, sans-serif;
}

div .logo-container h{
  padding:2rem;
  color: rgb(255, 255, 255);
  font-family:'playwright';
  font-weight:400;
}
